.toolbar {
  width: 100%;
  overflow-x: auto;
  padding: 0;
}

/* vuetify overrides */
.toolbarButton {
  min-width: 48px;
  margin: 0;
  height: inherit;
}

.toolbarButton span {
  margin-left: 4px;
}
