.container {
  position: absolute;
  top: 0;
  height: 2px;
  z-index: 10;

}

.active {
  composes: container;
  transition: width 10ms, opacity 250ms ease-in;
}

.inactive {
  composes: container;
  transition: width 250ms cubic-bezier(1,0,1,0), opacity 250ms ease-in;
}
