layout: index
description: ParaView client that works in your browser
subtitle: A customizable Web client for ParaView
cmd: pvpython -m paraview.apps.lite
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/paraview-lite").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/paraview-lite.svg")
      p.intro-feature-desc
        | ParaView Lite is client application that connect to a ParaView server to perform data processing and visualization. It is designed to be customizable in term of UI and visualization workflow.
        | ParaView Lite is available inside
        a(href="https://www.paraview.org/download/").link  ParaView
        |  and can be run via its Python environment (pvpython) using the command line listed above.


  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/support.html").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.


center
  img(style="margin: 0.5%", src="/paraview-lite/gallery/08-pv-lite-dark-B.jpg", width="90%")
